.tui__anchor,
.tui__anchor:link,
.tui__anchor:visited {
  display: inline;
  box-sizing: border-box;
  color: blue;
  cursor: auto;
  font-family: var(--tui__font-family-serif);
  font-size: var(--tui__font-size-md);
  -webkit-font-smoothing: var(--tui__font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--tui__font-smoothing-moz);
  font-weight: var(--tui__font-weight-normal);
  line-height: var(--tui__line-height-md);
  text-decoration: underline;
}

.tui__anchor:link:hover,
.tui__anchor:link:active,
.tui__anchor:visited:active,
.tui__anchor:visited:hover {
  color: darkblue;
}
