.tui__blockquote {
  display: block;
  box-sizing: border-box;
  margin: var(--tui__spacing-16) var(--tui__spacing-32);
  color: var(--tui__color-black);
  font-family: var(--tui__font-family-serif);
  font-size: var(--tui__font-size-medium);
  -webkit-font-smoothing: var(--tui__font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--tui__font-smoothing-moz);
  line-height: var(--tui__line-height-md);
  overflow-wrap: break-word;
}

.tui__blockquote footer {
  margin: var(--tui__spacing-16) 0;
}

.tui__blockquote-source {
  font-style: italic;
}
