.tui__heading {
  display: block;
  box-sizing: border-box;
  margin: 0;
  color: var(--tui__color-black);
  font-family: var(--tui__font-family-serif);
  -webkit-font-smoothing: var(--tui__font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--tui__font-smoothing-moz);
  overflow-wrap: break-word;
}

h1.tui__heading {
  font-size: var(--tui__font-size-3xl);
  font-weight: var(--tui__font-weight-extra-bold);
  line-height: var(--tui__line-height-sm);
}

h2.tui__heading {
  font-size: var(--tui__font-size-2xl);
  font-weight: var(--tui__font-weight-bold);
  line-height: var(--tui__line-height-sm);
}

h3.tui__heading {
  font-size: var(--tui__font-size-xl);
  font-weight: var(--tui__font-weight-semi-bold);
  line-height: var(--tui__line-height-md);
}

h4.tui__heading {
  font-size: var(--tui__font-size-md);
  font-weight: var(--tui__font-weight-semi-bold);
  line-height: var(--tui__line-height-md);
}

h5.tui__heading {
  font-size: var(--tui__font-size-md);
  font-weight: var(--tui__font-weight-semi-bold);
  line-height: var(--tui__line-height-md);
}

h6.tui__heading {
  font-size: var(--tui__font-size-md);
  font-weight: var(--tui__font-weight-semi-bold);
  line-height: var(--tui__line-height-md);
}

.tui__prose h1.tui__heading {
  margin-bottom: var(--tui__spacing-24);
}

.tui__prose h2.tui__heading {
  margin-top: var(--tui__spacing-40);
  margin-bottom: var(--tui__spacing-16);
}

.tui__prose h3.tui__heading {
  margin-top: var(--tui__spacing-32);
  margin-bottom: var(--tui__spacing-12);
}

.tui__prose h4.tui__heading {
  margin-top: var(--tui__spacing-24);
  margin-bottom: var(--tui__spacing-8);
}

.tui__prose h5.tui__heading {
  margin-top: var(--tui__spacing-24);
  margin-bottom: var(--tui__spacing-8);
}

.tui__prose h6.tui__heading {
  margin-top: var(--tui__spacing-24);
  margin-bottom: var(--tui__spacing-8);
}
