.tui__list {
  display: block;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-position: inside;
}

.tui__list .tui__list {
  padding: 0 0 0 var(--tui__spacing-16);
}

ul.tui__list {
  list-style-type: disc;
}

ol.tui__list {
  counter-reset: item;
}

.tui__list > li {
  box-sizing: border-box;
  color: var(--tui__color-black);
  font-family: var(--tui__font-family-serif);
  font-size: var(--tui__font-size-md);
  -webkit-font-smoothing: var(--tui__font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--tui__font-smoothing-moz);
  font-weight: var(--tui__font-weight-normal);
  line-height: var(--tui__line-height-md);
  overflow-wrap: break-word;
}

ol.tui__list > li {
  display: block;
}

ol.tui__list > li::before {
  content: counters(item, ".") ". ";
  counter-increment: item;
}

.tui__prose .tui__list {
  padding: 0 0 0 var(--tui__spacing-16);
  margin: 0 0 var(--tui__spacing-16) 0;
}

.tui__prose :is(.tui__list > li) > .tui__list {
  margin: 0;
}
