.tui__paragraph {
  display: block;
  box-sizing: border-box;
  margin: 0;
  color: var(--tui__color-black);
  font-family: var(--tui__font-family-serif);
  font-size: var(--tui__font-size-md);
  -webkit-font-smoothing: var(--tui__font-smoothing-webkit);
  -moz-osx-font-smoothing: var(--tui__font-smoothing-moz);
  font-weight: var(--tui__font-weight-normal);
  line-height: var(--tui__line-height-md);
  overflow-wrap: break-word;
}

.tui__prose .tui__paragraph {
  margin: var(--tui__spacing-16) 0;
}

.tui__prose :is(h1, h2, h3, h4, h5, h6) + .tui__paragraph {
  margin-top: 0;
}
